.background{
    width: 100%;
    font-family: "Roboto";
}

.back-img{
    width: 100.2vw;
    margin-left: -1vw;
    margin-bottom: -0.5vw;
    z-index: -10;
}

.rot{
    transform: rotate(180deg);
}

/* .bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    25%  { transform: translateX(-10px); }
    75%  { transform: translateY(10px);}
    100% { transform: translateY(0); }
}

.bounce-2 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0px); }
    25%  { transform: translateX(10px); }
    75%  { transform: translateY(-10px);}
    100% { transform: translateY(0px); }
} */

.tag-1{
    /* animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom; */

    margin-top: 100px;
    margin-left: 100px;

    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;

    color: #ABABAB;
}