.landing{
    position: absolute;
    top: 80px;
    width: 100%;
    font-family: 'Roboto';
}

.landing-left{
    text-align: right;
    width: 40%;
}

.landing-name{
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: -25px;

    color: #FFFFFF;
}

.landing-role{
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    margin-bottom: -13px;

    color: #6FFFD4;
}

.landing-location{
    font-style: normal;
    font-weight: 200;
    font-size: 21px;

    color: #FFFFFF;
}

.landing-right{
    width: 35%;
    margin-left: 55%;
    text-align: right;
    margin-bottom: -200px;
}

.landing-summary{
    display: flex;
    align-items: center;
    gap: 10px;
}

.summary-text{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: left;

    color: #6FFFD4;
}

.summary-line{
    width: 370px;
    height: 0;
    border: 1px solid #6FFFD4;
}

.landing-headline{
    display: flex;
}

.landing-headline b{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: -20px;

    color: #FFFFFF;
    overflow: hidden;
    border-right: .15em solid #6FFFD4;
    white-space: nowrap;
    animation: 
        typing 5s forwards;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


.landing-description{
    font-style: normal;
    font-weight: 150;
    font-size: 23px;

    color: #FFFFFF;
}

.landing-button{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    outline: none;
    border: none;

    color: #202020;
    width: 186px;
    height: 57px;

    background: #6FFFD4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    transition: all 0.5s;
    cursor: pointer;
}

.landing-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.landing-button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.landing-button:hover span {
padding-right: 20px;
}

.landing-button:hover span:after{
opacity: 1;
right: 0;
}

.landing-img{
    width: 35%;
    margin-left: 250px;
    transition: transform 250ms;
}

.landing-img:hover{
    transform: translateY(-10px);
}